<div>
	<div class="row">
		<div class="col-md-12">

			<div class="panel">
				<div class="panel-heading">
					
					<h2 class="panel-title">
					 {{zona.nombre}}
					 <hr>
					</h2>
					

					

				</div>
				<div class="panel-body">
		

<div class="col-lg-3 col-md-6" style="margin-top: 40px;"" >
          <div class="widget widget-shadow">
            <div class="widget-header bg-blue-grey-700 padding-30 white text-center">
              <a class="avatar avatar-100 img-bordered bg-white" href="javascript:void(0)">
                <img src="http://hombre.starmedia.com/imagenes/2012/12/facebook350.jpg">
              </a>
                
	                <div class="font-size-20 margin-bottom-15">Robin Ahrens</div>
	                <p class="margin-bottom-5 text-nowrap"><i class="icon wb-map margin-right-5" aria-hidden="true"></i>
	                  <span class="text-break">Mountain View,CA 94043, United States</span>
	                </p>
	                <p class="margin-bottom-5 text-nowrap"><i class="icon wb-envelope margin-right-5" aria-hidden="true"></i>
	                  <span class="text-break">amazingSurge@yahoo.com</span>
	                </p>
	                <p class="margin-bottom-5 text-nowrap"><i class="icon bd-twitter margin-right-5" aria-hidden="true"></i>
	                  <span class="text-break">Kolage</span>
	                </p>
            </div>
          </div>
        </div>

<!-- panel SO -->


		<div class="col-lg-9" style="margin-top: 40px;">
              <!-- Example Tabs Right -->
              <div class="example-wrap">
                <div class="nav-tabs-horizontal">
                <uib-tabset active="">
                        <uib-tab index="0" heading="Detalle de zona">
                            <div class="tab-pane padding-vertical-15 animation-fade " role="tabpanel" style="margin-left: 10px;">
                               		{{zona.descripcion}}
                            </div>
                        </uib-tab>

                        <uib-tab index="1" heading="Consejo comunitario">
                           <div class="tab-pane padding-vertical-15 animation-fade " role="tabpanel" style="margin-left: 10px;">
                                 
                            		
									




                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
              </div>
              <!-- End Example Tabs Right -->
            </div>




<!-- fin panel SO -->


					
				</div>
			</div>

		</div>
	</div>
</div>


