<div class="vertical-align text-center">

    <div class="page-content vertical-align-middle">
        <div class="brand">
            <img class="navbar-brand-logo" src="/img/logotipo.png" alt="...">

        </div>
      <br><br>
        <form method="post" action="login.html">
            <div class="form-group">
                <label class="sr-only" for="inputEmail">Correo</label>
                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Correo electronico">
            </div>
            <div class="form-group">
                <label class="sr-only" for="inputPassword">Contraseña</label>
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Contraseña">
            </div>
            <div class="form-group clearfix">

            </div>
            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
        </form>

        <footer class="page-copyright page-copyright-inverse">
            <p>ICEBERG By Fundacion Puerto Bahia</p>
            <p>© 2016. TODOS LOS DERECHOS RESERVADOS.</p>
            <div class="social">
                <a href="javascript:void(0)">
                    <i class="icon bd-twitter" aria-hidden="true"></i>
                </a>
                <a href="javascript:void(0)">
                    <i class="icon bd-facebook" aria-hidden="true"></i>
                </a>
                <a href="javascript:void(0)">
                    <i class="icon bd-dribbble" aria-hidden="true"></i>
                </a>
            </div>
        </footer>
</div>
</div>