<div class="page-header">

    <h1 class="page-title">Actividades</h1>
    <ol class="breadcrumb">
        <li><a ui-sref="main">Inicio</a></li>
        <li><a ui-sref="main.beneficiarios" ng-click="barra()">actividades</a></li>
        <li ng-hide="titulo == 'NO'">{{titulo}}</li>
    </ol>
    <div class="page-header-actions">
    <a class="btn btn-sm btn-icon btn-inverse btn-round" data-toggle="tooltip" data-original-title="Edit" ng-click="open('lg')">
            <i class="icon wb-plus" aria-hidden="true"></i>
        </a>

        <div class="col-md-12" ng-show="SelectedEvent" >
                    
        <h4> {{SelectedEvent.title}}</h4>
         <h4> {{SelectedEvent.id}}</h4>

                </div>

        <!--
            <button type="button" class="btn btn-sm btn-icon btn-inverse btn-round" data-toggle="tooltip" data-original-title="Refresh">
                <i class="icon wb-refresh" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-sm btn-icon btn-inverse btn-round" data-toggle="tooltip" data-original-title="Setting">
                <i class="icon wb-settings" aria-hidden="true"></i>
            </button>-->
    </div>
</div>
<div class="page-content" ui-view>
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body container-fluid">
            <div class="example" ui-calendar="uiConfig.calendar" ng-model="eventSources">>
               <!-- calendar-->
                
               <!--fin calendaar -->
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</div>





 <script type="text/ng-template" id="add-alumno.html" >
        <div class="modal-header">

            <h3 class="modal-title">Agregar Alumno</h3>
        </div>
           <div class="modal-body">
        <label>Nombres</label> <input type="text"  class="form-control" ng-model="alumno.nombre" />
        <label>Apellidos</label>  <input type="text"   class="form-control" ng-model="alumno.apellido" />
        <label>Identificación</label>  <input type="number"  class="form-control" ng-model="alumno.identificacion" />
        <label>Fecha de nacimiento</label>  <input type="date"  class="form-control" ng-model="alumno.fecha_nacimiento" />
        <label> grado</label>  <input type="text"  class="form-control" ng-model="alumno.grado" />
        <label>Curso</label>  <input type="text"  class="form-control" ng-model="alumno.curso" />
        <label> Director de grupo</label>  <input type="text"  class="form-control" ng-model="alumno.director_grupo" />
        <label> Número de contacto</label>  <input type="number"  class="form-control" ng-model="alumno.numero_contacto" />
      
      </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Guardar</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>


<script type="text/ng-template" id="msg.html">
      
      <div class="modal-header"></div>
        <div class="modal-body">
          <p>Creado Correctamente</p>
        </div>
</script>

