<div>
	<div class="row">
		<div class="col-md-12">

			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">{{titulo}}</h3>
				</div>
				<div class="panel-body">

					<form class="form-horizontal" role="form" ng-submit="savePrograma()">


							<div class="form-group">
								<label for="inputStandard" class="col-lg-3 control-label">Nombre</label>

								<div class="col-lg-8">
									<div class="bs-component">
										<input type="text" id="inputStandard" class="form-control" required ng-model="programa.nombre">
									</div>
								</div>
							</div>



							<div class="form-group">
								<label class="col-lg-3 control-label" for="textArea2">Descripcion</label>

								<div class="col-lg-8">
									<div class="bs-component">
										<textarea class="form-control" id="textArea2" rows="3" required ng-model="programa.descripcion"></textarea>
										<div id="source-button" class="btn btn-system btn-xs" style="display: none;">&lt; &gt;</div>
									</div>
								</div>
							</div>
							
							<div class="panel-footer">
								<button type="submit" class="btn btn-primary">{{boton}}</button>
							</div>
						</form>
										
					
				</div>
			</div>

		</div>

		<!--div class="col-md-6">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">Agregar filtros</h3>
				</div>
				<div class="panel-body">
					<form  method="post" ng-submit="guardarFiltro()">
						<div class="form-group">
							<select class="form-control" ng-model="filtro.campo">
								<option ng-repeat="tiporiesgo in tiporiesgos" value="{{tiporiesgo.id}}"
										ng-selected="riesgo.tiporiesgo_id==tiporiesgo.id">{{tiporiesgo.nombre}}
								</option>
							</select>
						</div>
						<div class="form-group">
							<select class="form-control" ng-model="filtro.operador">
								<option>==</option>
								<option>>=</option>
								<option><=</option>
								<option>!=</option>
								<option>%like</option>
							</select>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" ng-model="filtro.valor">
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary">{{accion}}</button>
						</div>
					</form>
				</div>
			</div>
		</div-->

	</div>
</div>
