<div>
	<div class="row">
		<div class="col-md-12">

			<div class="panel">
				<div class="panel-heading">
					
					<!--<h2 class="panel-title">
					 {{zona.nombre}}
					 <hr>
					</h2>
					-->

					

				</div>
				<div class="panel-body">
		


<!-- panel SO -->


		<div class="col-lg-12" style=" margin-top: 40px;">
              <!-- Example Tabs Right -->
              <div class="example-wrap">
                <div class="nav-tabs-horizontal">
                <uib-tabset active="">
                        <uib-tab index="0" heading="Detalle de Programa">
                            <div class="tab-pane padding-vertical-15 animation-fade " role="tabpanel" style="margin-left: 10px;">
                               	<h2>{{programa.nombre}}</h2>
                    			 {{programa.descripcion}}
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
              </div>
              <!-- End Example Tabs Right -->
            </div>




<!-- fin panel SO -->


					
				</div>
			</div>

		</div>
	</div>
</div>


